
@media screen and (min-width: 375px){
img {
  height: 50%;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer, .title {
  text-align: center;
  margin: 0;
  color: white;
  letter-spacing: .03em;
}
.form {
  border: 1pt solid black;
  background: black;
}

button {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: red;
  font-size: 20px;
  border: 1pt solid black;
  letter-spacing: .02em;
}
}
@media screen and (min-width: 769px){
  img {
  height: 500px;
  width: 500px;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1pt solid black;
  }
  .form {
    margin-top: 0;
    background: transparent;
    border: none;
    background:black;
    padding: 0;
  }
  input:hover {
    color:white;
    background: black;
  }
  button {
    display: block;
    cursor: grabbing;
  }
  .footer, .title {
    text-align: center;
    margin: 0;
    color: white;
    letter-spacing: .08em;
  }
  button:hover {
    border-radius: 10px;
  }
}